<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/aboutme.css">
</head>
<body>
    <div class="me">
        <a href="../templates/home.html">go back</a>
        <h1>Malek Lazreg</h1>
        <p>
            Malek is a visionary who perceives himself as a humble individual,<br> standing in stark contrast to the exaggerated image others often project <br>about him.
            Passionate and multifaceted,he dedicates his time to pursuits <br> like writing and drawing, relentlessly striving to elevate himself in his <br> unique and determined way.
            Once known simply as a programmer, <br>Malek now dreams of transforming into something far greater—a vision he holds <br>with unwavering determination.
            Fueled by ambition, he battles tirelessly <br> to bring his dream to life, undeterred by the relentless opposition of <br>those who seek to undermine him.
             Malik refuses to let his adversaries <br>dictate his path, standing resolute in his mission to play by his own rules <br>and claim the future he envisions <br>
            Now, I can confidently say that I only know Malik on a surface level <br>
            <br><br>
            Work puts you where luck finds you!
        </p>
    </div>
</body>
</html>