<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/home.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="video-container">
        <video autoplay muted loop id="background-video">
            <source src="../video/4779866-hd_1920_1080_30fps.mp4" type="video/mp4">
        </video>
    </div>
    <div class="navbar">
        <a href="#home">Home</a>
        <p>|</p>
        <a href="#project">Projects</a>
        <p>|</p>
        <a href="#skills">Skills</a>
        <p>|</p>
        <a  href="../templates/aboutme.html">About Me</a>
        <p>|</p>
        <a id="contactt" href="../templates/links.html">Contact</a>
    </div>
    <div id="home" class="home">
        <div class="biger">
            <p class="pp">
                <span>Hi, I'm malek</span><br> a dedicated web developer with a strong <br>
                passion for building responsive and <br>
                user-friendly websites 
            </p>
            <div class="cercle">            
                <img src="../img/mlkk.PNG" alt="">
            </div>
            <div class="rights">
                <div class="smoler">
     
                </div> 
                <div class="smoler">
                    <p  class="com"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="../templates/links.html"><i class="fa-solid fa-link"></i></a> <br><br>
                    </span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>if you want to know me in the <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;social media just click on the <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id icon <br> <br> <br> <br></strong>
                    </span>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="../templates/aboutme.html"><i class="fa-solid fa-id-card"></i></a></span><br>
                        <br>
                        <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if u want to know more about that <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pearsen that you on his profile <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;website just click on the <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; id card icon!</strong>
                    </p>
                    </p>
                </div> 
            </div>
        </div>
    </div>
    <div id="project" class="projects">
        <h1>Project</h1>
        <div class="whatihave">
            <div class="olla">
                <div class="videoo">
                    <video onmouseout="pause(this)" onmouseover="play(this)" class="makkk"  muted loop id="background-video">
                        <source src="../video/2025-01-03 11-09-41.mkv" type="video/mp4">
                    </video>
                </div>
                <div class="videoo">
                    <video onmouseout="pause(this)" onmouseover="play(this)" class="makkk"  muted loop id="background-video">
                        <source src="../video/2025-01-03 11-10-47.mkv" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="olla">
                <div class="videoo">
                    <video onmouseout="pause(this)" onmouseover="play(this)" class="makkk"  muted loop id="background-video">
                        <source src="../video/2025-01-03 11-11-01.mkv" type="video/mp4">
                    </video>
                </div>
                <div class="videoo">
                    <video onmouseout="pause(this)" onmouseover="play(this)" class="makkk"  muted loop id="background-video">
                        <source src="../video/2025-01-03 11-12-27.mkv" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
    <div id="skills" class="skils">
    <h1>Skills</h1>
    <div class="skills">
            <div class="ski">
                <i class="fa-brands fa-html5">html</i>
                <i class="fa-brands fa-css3-alt">CSS</i>
                <i class="fa-brands fa-js">JS</i>
                <i class="fa-brands fa-python">py</i>
                <i class="fa-solid fa-pepper-hot">flask</i>
                <i class="fa-solid fa-database">mysql</i>
                <i class="fa-brands fa-java">java</i>
                <i class="fa-brands fa-react">react</i>
            </div>
    </div>
    </div>
    <div class="footer">
        <div class="social">
            <a href="https://www.linkedin.com/in/malek-lazreg-48622a2b0/">
                <i class='bx bxl-linkedin'></i></a>
            <a href="lazregmalek30@gmail.com">
                <i class='bx bxl-gmail'></i></a>
            <a href="https://github.com/maleklazreg?tab=overview&from=2024-08-01&to=2024-08-31">
                <i class='bx bxl-github'></i></a>
        </div>

        <ul class="list">
            <li>
                <a href="#home">Home</a>
            </li>
            <li>
                <a href="#projec">Projects</a>
            </li>
            <li>
                <a href="#skills">Skills</a>
            </li>
            <li>
                <a href="../templates/aboutme.html">About Me</a>
            </li>
            <li>
                <a href="../templates/links.html">Contact</a>
            </li>
            <li>
                <a href="https://www.state.gov/privacy-policy/">Privacy Policy</a>
            </li>
        </ul>

        <p class="copyright">
             Malek Lazreg | All Rights Reversed
        </p>
    </div>
    <script src="script.js"></script>
</body>
</html>